/**
 *------
 * BGA framework: Gregory Isabelli & Emmanuel Colin & BoardGameArena
 * hbaGame implementation : © web-coder yasher18@bk.ru
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * hbagame.css
 *
 * hbaGame stylesheet
 *
 */

/*
    This is the CSS stylesheet of your game User Interface.
    
    Styles defined on this file will be applied to the HTML elements you define in your
    HTML template (hbagame_hbagame.tpl), and to HTML elements you create dynamically
    (in hbagame.js).
    
    Usually, you are using CSS to:
    
    1°) define the overall layout of your game
        (ex: place the board on the top left, place player's hand beside, place the deck on the right, ...).

    2°) create your CSS-sprites:
        All images of your games should be gathered into a small number of image files. Then, using
        background-image and background-position CSS properties, you create HTML blocks that can 
        display these images correctly (see example below).
    
    3°) ... anything else:
        It is really easy to add and remove CSS classes dynamically from your Javascript with
        dojo.addClass and dojo.removeClass. It is also easy to check if an element has a class
        (dojo.hasClass) or to get all elements with a specific class (dojo.query). This is why,
        very often, using CSS classes for the logic of your user interface allow you to do complex
        thing easily.
        
        
     Note: on the production platform, this file will be compressed and comments will be removed.
           Consequently, don't hesitate to put as many comments as necessary.
*/

/* Note: you must not use any @import directive */

/********* You can start writing your CSS below this line: **********/

.token {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}

.first_section {
    display: flex;
}

.round_div {
    background-image: url('https://studio.boardgamearena.com:8084/data/themereleases/current/games/hbagame/999999-9999/img/5.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    width: 33%;
    height: 300px;

    color: white;
    text-align: center;
    font-size: 20px;
}

.projects_div {
    background-image: url('https://studio.boardgamearena.com:8084/data/themereleases/current/games/hbagame/999999-9999/img/2.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    width: 33%;
    height: 300px;

    color: white;
    text-align: center;
    font-size: 20px;
}

.actions_div {
    background-image: url('https://studio.boardgamearena.com:8084/data/themereleases/current/games/hbagame/999999-9999/img/3.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    width: 33%;
    height: 300px;

    color: white;
    text-align: center;
    font-size: 20px;
}

.player_pad {
    background-image: url('https://studio.boardgamearena.com:8084/data/themereleases/current/games/hbagame/999999-9999/img/PT-Y.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;

    width: 66%;
    height: 600px;

    color: white;
    text-align: center;
    font-size: 20px;
}

.player_section {
    margin-top: 30px;
    display: flex;
}

.player_stats {
    background-image: url('https://studio.boardgamearena.com:8084/data/themereleases/current/games/hbagame/999999-9999/img/stats.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;

    width: 33%;
    height: 600px;

    color: white;
    text-align: center;
    font-size: 20px;
}
